// Grid settings
// -------------------------

@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    4;

//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width:         60px;


// Brand colors
// -------------------------

@brand-primary:         #27ae60;


// Glyphicons path
// -------------------------

@icon-font-path:        "../vendor/bootstrap/fonts/";

@border-radius-base:        2px;
@border-radius-large:       3px;
@border-radius-small:       1px;

//** `<input>` border color
@input-border:                   #ddd;
//** Border color for inputs on focus
@input-border-focus:             #afe966;
/*
//** Default `.form-control` height
@input-height-base:              (@line-height-computed + (@padding-base-vertical * 2) + 10);
//** Large `.form-control` height
@input-height-large:             (ceil(@font-size-large * @line-height-large) + (@padding-large-vertical * 2) + 10);
//** Small `.form-control` height
@input-height-small:             (floor(@font-size-small * @line-height-small) + (@padding-small-vertical * 2) + 10);
*/

@padding-base-vertical:     10px;
@padding-base-horizontal:   16px;

@padding-large-vertical:    14px;
@padding-large-horizontal:  20px;

@padding-small-vertical:    5px;
@padding-small-horizontal:  10px;



@navbar-default-bg:                #fff;
