/**
 * Contact
 */

 
/**
 * Footer
 */
.content-info {
	margin-top: @section-spacing;
}
.sidebar-footer {
	padding-top: @section-spacing;
	padding-bottom: @section-spacing;
	border-top: 1px solid @element-border-color;
}

.content-info p {
	margin: 0;
}
.footer-bottom {
	padding: 20px 0;
	border-top: 1px solid @element-border-color;
	letter-spacing: 0.04em;
	word-spacing: 2px;
	color: #999;
	font-size: 0.9em;
}
.navbar-footer {
	list-style: none;
	margin: 0;
	padding: 0;
}
.navbar-footer li {
	display: inline-block;
	padding: 0 7px;
}
.navbar-footer, .footer-social {
	margin-top: 10px;
}
.copyright, .navbar-footer, .footer-social {
	text-align: center;
}
@media (min-width: @screen-md-min) {
	.navbar-footer, .footer-social {
		text-align: right;
		margin-top: 0;
	}
	.copyright {
		text-align: left;
	}
}

.footer-social {
	i {
		margin: 0 5px;
	}
}