.hentry header { }
.hentry time, .hentry .author {
	display: inline-block;
	font-size: 0.9em;
	color: #aaa;
}
.hentry .byline { }
.hentry .entry-content { }
.entry-title .icon {
	float: right;
	margin: 9px 0 0 10px;
	font-size: 22px;
}

/**
 * Article voting
 */
.vote {
	background-color: #f3f3f3;
	margin-top: 30px;
	padding-top: 25px;
	padding-bottom: 25px;
	border: 1px solid #eee;
}
.vote h3 {
	text-align: center;
	color: #9b9b9b;
	margin: 0;
}


/*
.pado-votes {
  left: 50%;
  margin-left: -59px;
  margin-top: 50px;
  position: relative;
  top: 0;
}
p.pado-likes, p.pado-dislikes {
  width: 48px;
  height: 48px;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  line-height: 14px;
  padding: 0;
}
p.pado-likes .icon {
  color: #94bc1a;
  margin-right: 20px;
}
p.pado-dislikes .icon {
  color: #c84848;
}
.pado-likes .icon, .pado-dislikes .icon {
  font-size: 34px;
}
*/
.pado-votes {
	text-align: center;
}
.pado-votes .count {
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 300;
  z-index: 1;
}
.vote p {
	margin: 25px 0 0;
}
a.pado-like-btn, a.pado-dislike-btn {
  font-size: 36px;
  margin: 0 20px;
}
.pado-like-btn .icon {
  color: #94bc1a;
}
.pado-dislike-btn .icon {
  color: #c84848;
}

.vote .icon:hover {
  opacity: 0.7;
}
.pado-votes > p > i, .pado-votes > p > span {
  position: relative;
  top: 17px;
}