.hentry header { }
.hentry time, .hentry .author {
	display: inline-block;
	font-size: 0.9em;
	color: #aaa;
}
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }
.entry-title .icon {
	float: right;
	margin: 9px 0 0 10px;
	font-size: 22px;
}