.hentry header { }
.meta {
	font-size: 0.9em;
	color: #aaa;
}
.meta p, .meta time {
  display: inline-block;
  margin-right: 20px;
}
.tags {

}
.tags a, .tags a:visited {
  display: inline-block;
  padding: 5px 10px 6px;
  color: #555;
  font-size: 11px;
  line-height: 10px;
  margin: 0 0 5px 20px;
  text-decoration: none;
  background-color: #f3f3f3;
  border-radius: 1px;
}
.tags a:hover {
  color:#333;
  text-decoration:none;
}



.hentry .byline { }
.hentry .entry-content { }
.entry-title .icon {
	float: right;
	margin: 9px 0 0 10px;
	font-size: 22px;
}

/**
 * Article voting
 */
.vote {
	text-align: center;
	background-color: #f3f3f3;
	margin-top: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
	border: 1px solid #eee;
}
.vote h3 {
	text-align: center;
	color: #9b9b9b;
	margin: 0;
}
.vote p {
	margin: 25px 0 0;
}
.like-btn, .dislike-btn {
  font-size: 36px;
  margin: 0 20px;
}
.like-btn .icon {
  color: #94bc1a;
}
.dislike-btn .icon {
  color: #c84848;
}
.vote .icon:hover {
  opacity: 0.7;
}

/**
 * Related articles
 */
.related {
  margin-top: 50px;
}
.related h2 {
  margin: 0 0 25px;
}

