.sidebar {
  .make-sm-column(@sidebar-sm-columns);
}
.sidebar {
	.widget {
		margin-bottom: 40px;
	}
	.widget_pa_contact {
		border: 1px solid @element-border-color;
		border-radius: @border-radius-base;
		padding: 18px 20px;
		i {
			font-size: 1.6em;
			vertical-align: sub;
			margin-right: 5px;
		}
		p {
			margin-top: 20px;
			margin-bottom: 0;
		}
		.email, .tel, .text {
			margin-top: 2px;
		}
	}

}